// RESPONSIVE BREAKPOINTS
$XS: 576px;
$S: 768px;
$M: 992px;
$L: 1200px;
$XL: 1400px;
$XXL: 1800px;

//mixin
@mixin breakpoint($canvas) {
  @if $canvas == XS {
    @media only screen and (min-width: $XS) and (max-width: $S - 1) { @content; }
  }
  @else if $canvas == S {
    @media only screen and (min-width: $S) and (max-width: $M - 1) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) and (max-width: $L - 1) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) and (max-width: $XL - 1) { @content; }
  }
  @else if $canvas == XL {
    @media only screen and (min-width: $XL) and (max-width: $XXL - 1) { @content; }
  }
  @else if $canvas == XXL {
    @media only screen and (min-width: $XXL) { @content; }
  }
  @else if $canvas == XSup {
    @media only screen and (min-width: $XS) { @content; }
  }
  @else if $canvas == Sup {
    @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == Mup {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == Lup {
    @media only screen and (min-width: $L) { @content; }
  }
  @else if $canvas == XLup {
    @media only screen and (min-width: $XL) { @content; }
  }
  @else if $canvas == XXLup {
    @media only screen and (min-width: $XXL) { @content; }
  }
  @else if $canvas == XSdown {
    @media only screen and (max-width: $XS) { @content; }
  }
  @else if $canvas == Sdown {
    @media only screen and (max-width: $S) { @content; }
  }
  @else if $canvas == Mdown {
    @media only screen and (max-width: $M) { @content; }
  }
  @else if $canvas == Ldown {
    @media only screen and (max-width: $L) { @content; }
  }
  @else if $canvas == XLdown {
    @media only screen and (max-width: $XL) { @content; }
  }
  @else if $canvas == XXLdown {
    @media only screen and (max-width: $XXL) { @content; }
  }
  @else if $canvas == StoL {
    @media only screen and (min-width: $S) and (max-width: $L - 1) { @content; }
  }
}
